n8n/workflows/publish_main.json
{
  "name": "Content Distributor - Publish Main",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "publish",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Publishing triggered' }) }}"
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-ig",
              "leftValue": "={{ $json.body.platforms }}",
              "rightValue": "ig",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-ig",
      "name": "Has IG Platform?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.IG_USER_ID }}/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image_url: $('Webhook Trigger').item.json.body.image_url, caption: $('Webhook Trigger').item.json.body.ig_caption || $('Webhook Trigger').item.json.body.master_caption, access_token: $env.IG_ACCESS_TOKEN }) }}"
      },
      "id": "ig-create-container",
      "name": "IG Create Media Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 200],
      "notes": "Step 1: Create media container. Set IG_USER_ID and IG_ACCESS_TOKEN in n8n environment variables."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.IG_USER_ID }}/media_publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ creation_id: $json.id, access_token: $env.IG_ACCESS_TOKEN }) }}"
      },
      "id": "ig-publish",
      "name": "IG Publish Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 200],
      "notes": "Step 2: Publish the media container"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/webhooks/publish-result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Signature",
              "value": "dev-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content_id: $('Webhook Trigger').item.json.body.content_id, platform: 'ig', status: 'success', external_post_id: $json.id || null, response_summary: 'Published to Instagram successfully' }) }}"
      },
      "id": "report-ig-success",
      "name": "Report IG Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/webhooks/publish-result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Signature",
              "value": "dev-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content_id: $('Webhook Trigger').item.json.body.content_id, platform: 'ig', status: 'failed', response_summary: $json.error?.message || 'Instagram API error' }) }}"
      },
      "id": "report-ig-failure",
      "name": "Report IG Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 450]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Respond OK", "type": "main", "index": 0 },
          { "node": "Has IG Platform?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has IG Platform?": {
      "main": [
        [{ "node": "IG Create Media Container", "type": "main", "index": 0 }],
        []
      ]
    },
    "IG Create Media Container": {
      "main": [
        [{ "node": "IG Publish Media", "type": "main", "index": 0 }]
      ]
    },
    "IG Publish Media": {
      "main": [
        [{ "node": "Report IG Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "local"
  },
  "tags": [
    { "name": "content-distributor" }
  ]
}
